<aside class="sidebar">

  <div class="logo">
    <i class="fa-solid fa-bars"></i>
  </div>

  <nav>

    <a href="dashboard.html" class="nav-item active">
      <i class="fa-solid fa-house"></i>
      <span>Dashboard</span>
    </a>

    <a href="pedidos.html" class="nav-item">
      <i class="fa-solid fa-cart-shopping"></i>
      <span>Pedidos</span>
    </a>

    <a href="estoque.html" class="nav-item">
      <i class="fa-solid fa-box"></i>
      <span>Estoque</span>
    </a>

    <a href="produtos.html" class="nav-item">
      <i class="fa-solid fa-pizza-slice"></i>
      <span>Produtos</span>
    </a>

    <a href="clientes.html" class="nav-item">
      <i class="fa-solid fa-users"></i>
      <span>Clientes</span>
    </a>

  </nav>

</aside>